.c-testimonial {
    text-align: right;
    padding: $basicPadding * 2;
    border: $basicBorderWidth solid $borderColor;
    height: 100%;

    &__image {
        margin-bottom: $basicMargin;
    }

    &__desc {
        text-align: justify;
        padding: $basicPadding;
    }
}