$basicFontSize: 16px;
$basicFontFace: sans-serif;

$layoutMaxWidth: 1366px;

$basicMargin: 8px;

$basicPadding: 4px;
$minWidth: 640px;

$basicBorderWidth: 1px;
$borderColor: #323232;

$shadowThicknes: 4px;
$shadowBlur: 3px;

$gap: 5px;